@charset "utf-8";

    * {
        margin: 0px;
        padding: 0px;
    }
    body{
        background-image: linear-gradient(160deg,#fccf31,#f55555);
        height: 100vh;
    }
    main{
    }
    nav{
    
        float: right;
        margin-top: 70px;
        margin-right: 50px;
    }
    nav a{
        padding: 10px;
        color: black;
        font-size: 1.5em;
        text-decoration: none;
    }

    header{
       
        background-image: linear-gradient(to top, #F77B0A,#FFE500);
    }

    p{
        color: aliceblue;
        font-size: 20px;
        display: none;
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    /* .img{
        position: relative;
    } */

   
 
    
    .cards{
        display: flex;
        gap: 1em;
        position: relative;
        /* margin-left: 1em; */
    }

    #mussarela{
        margin-top: 50px;
        transform: translate(50%, -50%);
        display: inline-block;
    
    }
    #logo{
        width: 120px;
        height: 100px;
        /* display: inline-block; */
    }
    #imghorizontal{
        width: 100%;
        height: 150px;
    }

    #promoçao{
        height: 12em;
        width: 10em;
        
        border-radius: 20px;
        /* display: flex; */
        /* float: right; */
        /* margin-right: 25px; */

    }

