@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(160deg,#fccf31,#f55555);
}
nav{
    float: right;
    display: inline-block;
}

#logo{
    width: 10%;
    display: inline-block;
}
#imghorizontal{
    width: 100%;
    height: 200px;
}
#promçao{
    border-radius: 20px;
    float: right;
}

